@black: #000;
@dark-gary: #363636;
@gray: #ededed;
@white: #fff;
@primary-color: #ec7263;

@background: @gray;
@gray-border-color: @gray;
@text-color: @dark-gary;

@base-font-size: 10px;
@font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@base-padding: 10px;
@base-margin: 20px;

.image-size {
  width: 150px;
  height: 150px;
}
body {
  padding-right: 200px;
  padding-left: 200px;
  background-color: @background;
  z-index: 10;
}
.container {
  background-color: @white;
  z-index: 9;
}

header img {
  display: inline-block;
  border-radius: 150px;
}
header {
  text-align: center;
  color: @dark-gary;
  font-family: @font-family;
}
main h3 {
  color: @primary-color;
  font-family: @font-family;
}
main #h3_1 {
  border-top: 4px solid @gray-border-color;
  padding-top: 20px;
}
main .a_2 {
  font-family: @font-family;
  color: @text-color;
}
main .tt {
  padding-right: 40px;
  font-weight: bold;
}
main .a_2 p {
  color: @dark-gary;
  font-family: @font-family;
  font-weight: bold;
}
main .tt_2 {
  background-color: @gray;
  margin-bottom: 20px;
  z-index: 5;
}
main article {
  padding-right: 200px;
  padding-left: 200px;
}
